#  News Article Sorting

### importing the data and analysing the data

In [1]:
# importing libraries

import numpy as np
import pandas as pd

# storing the data into dataframe

train_df = pd.read_csv("../data/BBC News Train.csv")
test_df = pd.read_csv("../data/BBC News Test.csv")

In [2]:
# print train data head
print(train_df.head())

   ArticleId                                               Text  Category
0       1833  worldcom ex-boss launches defence lawyers defe...  business
1        154  german business confidence slides german busin...  business
2       1101  bbc poll indicates economic gloom citizens in ...  business
3       1976  lifestyle  governs mobile choice  faster  bett...      tech
4        917  enron bosses in $168m payout eighteen former e...  business

In [3]:
# print test data head
print(test_df.head())

   ArticleId                                               Text
0       1018  qpr keeper day heads for preston queens park r...
1       1319  software watching while you work software that...
2       1138  d arcy injury adds to ireland woe gordon d arc...
3        459  india s reliance family feud heats up the ongo...
4       1020  boro suffer morrison injury blow middlesbrough...

### `data analysis ( train data )`